*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image:
  url(
  "https://img.freepik.com/free-vector/white-gold-geometric-pattern-background-vector_53876-140726.jpg?w=2000");
  height: 100%;
  background-repeat:  no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.cardHighlight{
  min-height: 100%;
}


.cardSampleCourse{
  min-height: 100%;
}

.imgThumbnail {
  max-height: 500px;
  max-width: 500px;
}

h1,h2,h3 {
  margin: 0.5rem; 
}

h1 {
  font-size: 1.5rem;
}

h2 {
  font-size: 1.2 rem;
}

h3 {
  font-size: 1rem;
}

a {
  text-decoration: none;
}


.row {
  display:  flex;
  justify-content: space-between;
}

.col-1{
  flex: 1;
}

.col-2 {
  flex: 2;
}


.block {
  background-color: dimgray;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;
}

.row.center {
  align-items: center;
}

.modalRight {
  align-items: right;
}


.cartButton{
  float: right;
  width:  83%;
  overflow: auto
}


.navBar {
  background-color: #999185;
  padding:  5px;
  text-align: center;
}

.highlightPhoto {
  max-height: 100%;
  max-width: 30%;

}

.bgGray {
  background-color: #BEB9B1;
}

.bgImage {

  background-image:
  url(
  "https://img.freepik.com/free-vector/white-gold-geometric-pattern-background-vector_53876-140726.jpg?w=2000");
  height: 100%;
  background-repeat:  no-repeat;
  background-position: center;
  background-attachment: fixed;

}

.buyNow {
  font-weight: bold;
}

.copperPlate {
  font-family: fantasy, "Copperplate";
  font-size: 25px;
}

.center {
  align-items: center;
}

.btnStd {
  background-color: #504B43 !important;
  border-color: #211F1C !important;
}

.cartBtnBg {
  background-color: #999185 !important;
  border-color: #999185 !important;
}

.cartBtn {
  max-width:35px;
  max-height: 35px;
  border-radius: 20%;
}

.loginToPurhcaseBtn{
  color: #ffffff;
  background-color: #6D3738 !important;
  border-color: #442223 !important;
}

.backBtn{
  background-color: #A29B90 !important;
  border-color: #857D6F !important;
}